@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #e9e9ea;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .section {
    @apply container mx-auto py-12 px-6 min-h-[60vh];
  }
  .animate-slide:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
