@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .section {
    @apply container mx-auto py-12 px-6 min-h-[60vh];
  }

  .btn-custom {
    @apply px-4 py-2 text-lg font-bold border border-solid rounded-lg capitalize transition-all duration-700 ease-in-out;
  }

  .btn-custom-main {
    @apply bg-accent border-accent text-primary hover:text-secondary hover:bg-primary hover:border-primary hover:-translate-y-1;
  }
  .btn-custom-primary {
    @apply bg-primary border-primary text-secondary hover:bg-secondary hover:border-secondary hover:text-primary hover:-translate-y-1;
  }

  .btn-custom-secondary {
    @apply bg-accent border-accent text-primary;
  }

  .btn-custom-outline {
    @apply text-primary btn-custom border-primary hover:bg-primary hover:text-secondary;
  }
  .animate-slide:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
