@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .section {
    @apply container mx-auto py-12 px-6 min-h-[60vh];
  }

  .btn-custom {
    @apply px-4 py-3 text-lg font-bold border border-solid rounded-lg capitalize;
  }
  .animate-slide:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
